/*
 *  
 * Custom Bootstrap styling */
 @font-face {
    font-family:'Trajan Pro Bold';
    src: url('../fonts/trajan_pro_bold.eot');
    src: url('../fonts/trajan_pro_bold.eot?#iefix') format('embedded-opentype'), url('../fonts/trajan_pro_bold.svg#Trajan Pro Bold') format('svg'), url('../fonts/trajan_pro_bold.woff') format('woff'), url('../fonts/trajan_pro_bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
a.alt {
    color: #e61267;
    text-decoration: none;
}
a.alt:hover, a.alt:focus {
    color: #c61059;
    text-decoration: underline;
}
a.alt:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.img-thumbnail {
    padding: 2px;
    max-width: initial;
}
/*
 *  
 * Star Card's custom styles */

/* navbar */
 .navbar-default {
    border: none;
    border-radius: 0;
    box-shadow: none;
}
.navbar {
    margin-bottom: 0;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    font-size: 58px;
    font-style: italic;
    font-weight: bold;
}
.navbar-top {
    position: absolute;
    right: 30px;
}
.navbar-top>.navbar-nav>li>a {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #ffffff;
    text-shadow: none;
    font-size: 14px;
}
.navbar-top>.navbar-nav>li:not(:last-child)>a {
    border-right: 1px solid #ffffff;
}
.navbar-top>.navbar-nav {
    background-color: #28a4c9;
    padding:5px;
}
.navbar-top .navbar-right {
    margin-right: 10px;
}
.navbar-bottom>.navbar-nav {
    margin-right: 25px;
}
.navbar-bottom>.navbar-nav>li>a {
    padding:0 15px;
    margin-top: 65px;
    margin-bottom: 5px;
    font-size: 16px;
}
.navbar-bottom>.navbar-nav>li:not(:last-child)>a {
    border-right: 1px solid #ccc;
}
/* Super Hero (jumbotron) */
 .container .jumbotron, .container-fluid .jumbotron {
    border-radius: 0;
    background: top center no-repeat url('../img/header_bg.png');
    background-size: cover;
    border: 10px solid #f9f9f9;
}
.container .jumbotron h3, .container-fluid .jumbotron h3 {
    font-family:'Trajan Pro Bold', TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
}
.container .jumbotron .well, .container-fluid .jumbotron .well {
    background-image: none;
    background-color: rgba(255, 255, 255, .5);
    border: none;
    box-shadow: none;
}
.container .jumbotron .checkbox-inline, .container-fluid .jumbotron .checkbox-inline {
    padding: 0 20px 10px 20px;
}
.container .jumbotron .form-control, .container-fluid .jumbotron .form-control {
    margin-bottom: 10px;
}
/* Popular Cards */
 .popular_cards {
    width: 96%;
    margin: 0 auto;
    margin-top: -70px;
}
.panel {
    box-shadow: none;
    background: transparent;
}
.panel-default {
    border: none;
}
.panel-default>.panel-heading {
    background-image: none;
    background-color: #f6f6f6;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.panel-default>.panel-body {
    background: -moz-linear-gradient(top, rgba(246, 246, 246, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(top, rgba(246, 246, 246, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(top, rgba(246, 246, 246, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -ms-linear-gradient(top, rgba(246, 246, 246, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to bottom, rgba(246, 246, 246, 1) 0%, rgba(255, 255, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#00ffffff', GradientType=0);
}