/*
 *  
 * Custom Bootstrap styling */
 @font-face {
    font-family:'Trajan Pro Bold';
    src: url('../fonts/trajan_pro_bold.eot');
    src: url('../fonts/trajan_pro_bold.eot?#iefix') format('embedded-opentype'), url('../fonts/trajan_pro_bold.svg#Trajan Pro Bold') format('svg'), url('../fonts/trajan_pro_bold.woff') format('woff'), url('../fonts/trajan_pro_bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
a.alt {
    color: #e61267;
    text-decoration: none;
}
a.alt:hover, a.alt:focus {
    color: #c61059;
    text-decoration: underline;
}
a.alt:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.lead {
    margin-bottom:0;
}
.img-thumbnail {
    padding: 2px;
    max-width: initial;
}
.btn-default {
    text-shadow: -1px 1px 2px rgba(125, 11, 56, 0.65);
    border-color: #ce105c;
}
.btn-info {
    text-shadow: -1px 1px 2px rgba(255, 255, 204, 0.65);
}
hr.slim {
    margin-top:0;
    margin-bottom:0;
}
.box {
    margin: 0 auto;
    padding-bottom: 11px;
    background: #fff;
}
.box:after {
    content:"";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    z-index: -1;
}
.form-control {
    margin-bottom: 10px;
}
.well {
    background-color: #f6f6f6;
    background-image: none;
    box-shadow: none;
    border-color: #cccccc;
}
/*
 *  
 * Star Card's custom styles */
 .text-yellow {
    color: #fff21a;
}
/* navbar */
 .navbar-default {
    border: none;
    border-radius: 0;
    box-shadow: none;
}
.navbar {
    margin-bottom: 0;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    font-size: 58px;
    font-style: italic;
    font-weight: bold;
}
.navbar-top {
    position: absolute;
    right: 30px;
    z-index: 1;
}
.navbar-top:before {
    content:'';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #4da1d0;
    transform: perspective(4px) rotateX(-1deg);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.navbar-top>.navbar-nav {
    padding-right:5px;
    padding-left:5px;
}
.navbar-top>.navbar-nav>li>a {
    padding-top:0;
    padding-bottom: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    text-shadow: none;
    font-size: 12px;
}
.navbar-top>.navbar-nav>li>a, .navbar-top>.navbar-nav>li>a:hover {
    color: #ffffff;
}
.navbar-top>.navbar-nav>li>a:hover {
    text-decoration:underline;
}
.navbar-top>.navbar-nav>li:not(:last-child)>a {
    border-right: 1px solid #ffffff;
}
.navbar-top .navbar-right {
    margin-right: 10px;
}
.navbar-bottom>.navbar-nav {
    margin-right: 25px;
}
.navbar-bottom>.navbar-nav>li>a {
    padding:0 15px;
    margin-top: 65px;
    margin-bottom: 5px;
    font-size: 16px;
}
.navbar-bottom>.navbar-nav>li:not(:last-child)>a {
    border-right: 1px solid #ccc;
}
/* Super Hero (jumbotron) */
 .container .jumbotron, .container-fluid .jumbotron {
    border-radius: 0;
    background: top center no-repeat url('../img/header_bg.png');
    background-size: cover;
    border: 10px solid #f9f9f9;
}
.container .jumbotron h3, .container-fluid .jumbotron h3 {
    font-family:'Trajan Pro Bold', TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
}
.container .jumbotron .well, .container-fluid .jumbotron .well {
    background-image: none;
    background-color: rgba(255, 255, 255, .5);
    border: none;
    box-shadow: none;
}
.container .jumbotron .checkbox-inline, .container-fluid .jumbotron .checkbox-inline {
    padding: 0 20px 10px 20px;
}
/* Popular Cards */
 .popular_cards {
    width: 96%;
    margin: 0 auto;
    margin-top: -70px;
}
.panel {
    box-shadow: none;
    background: transparent;
}
.panel-default {
    border: none;
    padding-bottom: 0;
    margin-bottom: 0;
}
.panel-default>.panel-heading>.panel-title, .panel-default>.panel-body .well h4, .panel-default>.panel-body .well p {
    text-shadow: -1px 1px 2px rgba(255, 255, 255, 0.65);
}
.panel-default>.panel-heading {
    background-image: none;
    background-color: #f6f6f6;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.panel-default>.panel-body {
    background: -moz-linear-gradient(top, rgba(246, 246, 246, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(top, rgba(246, 246, 246, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(top, rgba(246, 246, 246, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -ms-linear-gradient(top, rgba(246, 246, 246, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to bottom, rgba(246, 246, 246, 1) 0%, rgba(255, 255, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#00ffffff', GradientType=0);
    padding-bottom: 0;
}
.panel-default>.panel-body .well {
    margin-top: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background-image: none;
    border-color: #c5c5c5;
    border-top: none;
    box-shadow: none;
    background-color: #f5f5f5;
    position: relative;
}
.panel-default>.panel-body .well:after {
    content:"";
    padding-bottom: 15px;
    position: absolute;
    border: 1px solid #c5c5c5;
    bottom: -7px;
    width: 101%;
    left: -1px;
    border-top: none;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-radius: 4px;
    background-color: #f5f5f5;
    z-index: -1;
}
/* Popular Cards */
 .latest_promos .well.cta {
    margin-bottom: 0;
    padding: 10px;
    background: #ffffff;
}
.latest_promos .well h3 {
    margin-top: 0;
}
.latest_promos .well h2 {
    border-radius: 4px;
    padding: 10px;
    margin: 0;
    background: #fff21a;
    margin-bottom: 15px;
    margin-top: 0;
    border: 1px solid #cccccc;
}
.latest_promos .media {
    margin-bottom: 20px;
}
.latest_promos .media-left {
    padding-right: 15px;
}
.latest_promos ul {
    margin-bottom: 0;
}
.view_more {
    background-color: #666666;
}
.view_more, .view_more a {
    color: #ffffff;
}
/* Marketing */
 .marketing .well.newsletter {
    color: #ffffff;
    background: #4da1d0;
    background-image: none;
}
.marketing .well.newsletter .media .media-body p.lead {
    color: #fff21a;
}
.marketing .well.social {
    padding: 10px;
}
.marketing .well.social .media {
    margin-top: 5px;
}
.marketing .well.social .media .media-left, .marketing .well.social .media .media-right, .marketing .well.social .media .media-body {
    vertical-align: text-bottom;
}
/* Footer */
 footer {
    padding-top: 35px;
    padding-bottom: 35px;
    background: #4da1d0;
}
footer p, footer a, footer a:hover {
    color: #ffffff;
}
footer p strong {
    color: #000000
}
footer .list-inline>li {
    padding-left: 2px;
    padding-right: 2px;
}
/* Copyright */
 .copyright {
    padding-top: 10px;
    padding-bottom: 10px;
    background: #02192b;
}
.copyright p, .copyright a, .copyright a:hover {
    color: #ffffff;
}